.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
    flex-wrap: wrap;
    padding: 1.25rem 1rem;
    text-align: center;
    background-color: var(--preto);
}